.loginWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    background-color: #332941;
    width: 100vw;
    height: 100vh;
  }
  
  .loginform {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 80%;
    gap: 30px;
  }
  .logininput {
    width: 400px;
    height: 100px;
  }
  .loginbutton {
    background-color: #f8e559;
    width: 250px;
    height: 100px;
  }
  